* {
  box-sizing: border-box;
  font-family: "Zen Antique";
}

h1 {
font-size: 2em;
margin-bottom: 0;
padding-bottom: 0;
}

h2 {
font-size: 1.5em;
margin: 0;
padding: 0;
}

body {
  background: black;
  display: flex;
}

main {
  flex: 3;
  background: black;
  box-shadow: 0 0 0.25in;
  /*background-image: url("https://wallpaperaccess.com/full/3306160.jpg")*/
}

aside {
flex: 1;
display: flex;
flex-direction: column;
justify-content: space-between;
text-align: center;
margin: 0 auto;
background: black;
color: white;
margin-bottom: 5%;
}


#boardimg {
width: 75vw;
}

/*
#gcontent {
height: 50vw;
overflow: auto;
}
*/
